@model IEnumerable<Blog.Web.ViewModels.Posts.PostResumidoViewModel>

<div class="d-flex justify-content-center mb-3">
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg" style="text-decoration: none;">
        <i class="far fa-plus me-1"></i> Publicar novo post
    </a>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="~/images/logo.webp" class="card-img-top m-0" style="max-height: 200px">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-top">
                        <h4 class="card-title fw-bold">@Html.DisplayFor(modelItem => item.Titulo)</h4>
                        <small class="fw-light text-end text-muted ps-1" style="font-size: .8rem">@item.DataHoraCriacao.ToString("dd/MM HH:mm")</small>
                    </div>
                    <p class="card-text mt-3 text-muted">
                        @if (item.ConteudoResumido.Length < 100)
                        {

                            @Html.DisplayFor(modelItem => item.ConteudoResumido)
                        }
                        else
                        {
                            <span>@Html.DisplayFor(modelItem => item.ConteudoResumido)...</span>
                        }
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id" class="card-link" style="text-decoration: none;">
                            Leia mais <i class="fas fa-arrow-right fa-xs"></i>
                        </a>
                        <small class="opacity-50" style="font-size: 0.7rem; font-weight: 500"><i>@item.AutorNomeCompleto</i></small>
                    </div>
                </div>
            </div>
        </div>
    }

</div>